body,html,main {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-image: url("/public/bottom-left.svg"), url("/public/top-right.svg");
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 40vh 40vh,40vh 40vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
